body {
  margin: 0;
  font-family: Arial;
  background: black;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  border-bottom: 1px solid purple;
}

nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: purple;
}

/* HERO */
.hero {
  display: flex;
  padding: 60px 80px;
  gap: 50px;
  align-items: center;
}

.hero-image {
  width: 60%;
  height: 300px;
  background: #222;
}

.hero-text h1 {
  font-size: 42px;
  line-height: 1.4;
}

.hero-text span {
  color: purple;
}

/* PRODUCTS */
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.product {
  background: #111;
  border: 1px solid purple;
  padding: 15px;
  width: 180px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  background: #222;
  margin-bottom: 10px;
}

button {
  background: purple;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background: violet;
}

/* SHOP */
.shop-layout {
  display: flex;
}

.sidebar {
  width: 200px;
  padding: 20px;
  border-right: 1px solid purple;
}

.sidebar p {
  cursor: pointer;
  margin: 10px 0;
}

.sidebar p:hover {
  color: purple;
}

/* ABOUT */
.about {
  padding: 60px;
  text-align: center;
}

.about-boxes {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.box {
  background: #111;
  border: 1px solid purple;
  padding: 20px;
  width: 200px;
}

/* CART */
.cart-container {
  max-width: 500px;
  margin: 60px auto;
  text-align: center;
}

#cart-items {
  list-style: none;
  padding: 0;
}

#cart-items li {
  background: #111;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid purple;
}

.checkout-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
}

/* CHECKOUT */
.checkout-container {
  max-width: 400px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout-container input {
  padding: 10px;
  border: none;
}
